.con_students {
    padding-top: 150px;
}

.step_error,
.step_input,
.step_success {
    
    form {
        flex-flow: column;
        height: 100% !important; 
        width: 100% !important;               
    }
}

.con_students.action_reset,
.con_students[class^="action_reset"],
.con_students[class*="action_reset"] {
    
    .window_reset_password {
        height: 320px;
        width: 50%;
        min-width: 450px;
        max-width: 650px;
        margin: auto;
        border: 1px solid #274279;
        box-shadow: 0px 5px 10px 5px #27427985;
        background: #f1f1f1;
        border-radius: 8px;
       
        .header {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid #222;
            height: 40px;
            background-color: #e9c148;

            .icon_wrap {
                text-align:center;
                float: left;
                
                .atclogo {
                    width: 40px;
                    height: 40px;
                }
            }

            .college_name {
                font-size: 18px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                margin: 0px 40px;
                padding-top: 6px;
            }           
        }
        
        .content_area {
            max-height: 220px;
            
            .content {
                margin: 0;
                padding: 0;
                
                .reset_body {
                    height: 210px;
                }
            }
        }
    }
}

.con_students.action_reset_input,
.con_students[class^="action_reset_input"],
.con_students[class*="action_reset_input"] {
    
    label.error {
        margin-bottom: -21px;
        margin-left: 3%;        
    }
    
    .reset_section {
        
        form {
            padding-top: 5px;
        }
        
        .inline_input {
            width: 100%;
            margin-bottom: 25px;
            display: inline-flex;            

            .input_full {
                width: 100%;

                .user_select_identifier {
                    margin-left: 2.5%;
                    margin-right: 2.5%;
                    margin-bottom: 5px;
                    display: inline-block;
                }
            }

            .width48 {
                width: 48%;
                float: left;
                margin: auto;                
            }

            .right-align {
                float: right;
            }

            input[type="text"] {
                width: 95%;
                margin: auto;    
                border-radius: 5px;
            }

            input[type="text"]:focus {
               box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26), 0 0 8px rgba(102, 175, 233, 0.6);
               border-color: #66afe9;
            }

            label {
                font-weight: bold;
                margin-left: 3%;
            }
        }

        .identifier {
            margin-bottom: 0px;
        }
        
        .input_footer {
            display: inline-block;
            width: 100%;
            margin-top: 18px;
            
            .signin {
                float: right;
                font-size: 14px;
                padding-right: 2.5%;

                .search {
                    border-radius: 5px;
                    width: 200px;
                    height: 40px;
                    color: #fff;
                    background: #008CBA;
                    padding: 10px 30px;
                    cursor: pointer;
                    border: outset;
                }
                .search:active {
                    border-style: inset;
                    outline: none;
                }
            }
        }
        
        .searching_message {
            display: none;
        }
    }
}

.con_students.action_reset_password,
.con_students[class^="action_reset_password"],
.con_students[class*="action_reset_password"] {
    
    label.error {
        margin-bottom: -21px;
        margin-left: 3%;        
    }    
    
    .reset_password {
        
        form {
            padding-top: 5px;
        }
        
        .student_account {
            margin-left: 2.5%;
            margin-right: 2.5%;
            font-size: 16px;
            height: 70px;
            max-height: 70px;
            
            span {
                display: block;
            }
            b {
                font-size: 20px;
            }
        }       
        
        .inline_input {
            width: 100%;
            margin-bottom: 18px;
            display: inline-flex;            
            
            .unautorized_access {
                margin-left: 2.5%;
                margin-right: 2.5%;
                margin-top: 10px;
                
                .warning {
                    font-size: 20px;
                    justify-content: center;
                    margin-bottom: 10px;
                }
                
                span {
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                }
            }
            
            .return_link {
                justify-content: center;
                display: inline-flex;
                width: 100%;           
                
                .return {
                    border-radius: 5px;
                    width: 200px;
                    height: 40px;
                    color: #fff;
                    background: #008CBA;
                    padding: 10px 30px;
                    cursor: pointer;
                    border: outset;
                }
                .return:active {
                    border-style: inset;
                    outline: none;
                }
            }

            .width48 {
                width: 48%;
                float: left;
                margin: auto;
                
                #password_matching {
                    color: red;
                    font-size: 12px;
                    margin-top: -18px;                  
                }
            }                        
            
            .right-align {
                float: right;
            }
            
            input[type="password"] {
                width: 95%;
                margin: auto;    
                border-radius: 5px;
            }

            input[type="password"]:focus {
               box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26), 0 0 8px rgba(102, 175, 233, 0.6);
               border-color: #66afe9;
            }     
            
            label {
                font-weight: bold;
                margin-left: 3%;
            }            
        }  

        .row {
            width: 48%;
            display: inline-flex;  
            
            .password_info_popup {
                display: none;
                line-height: 1;

                .requirements_form {
                    background: #fff;
                    padding: 15px 10px;
                    box-shadow: 0px 5px 5px 3px #6b81ad;
                    border: 1px solid #ccc;
                    position: relative;
                    margin-left: 4%;
                    top: -48px;

                    .upper-arrow {
                        position: absolute;
                        top: -12px;
                        left: 48%;
                        width: 0;
                        height: 0;
                        z-index: 100;
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        border-bottom: 12px solid white;
                    }
                    .upper-arrow-outline {
                        position: absolute;
                        top: -14px;
                        left: 47.5%;
                        width: 0;
                        height: 0;
                        z-index: 99;
                        border-left: 14px solid transparent;
                        border-right: 14px solid transparent;
                        border-bottom: 14px solid #ddd;
                    }

                    .requirements {
                        height: auto; 
                        overflow-y: auto;    

                        .requirements_text {
                            background: none;
                            font-weight: normal;
                            color: #555;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }

                        .requirments_checklist {
                            ul {
                                margin: 0 0 10px 0;
                            }

                            .invalid {
                                padding-left: 20px;
                                line-height: 24px;
                                color: #ec3f41;
                                font-weight: bold;
                            }
                            .valid {
                                padding-left: 20px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }                
        }        
        .input_footer {
            display: inline-block;
            width: 100%;
            margin-top: 18px;

            .reset {
                float: right;
                font-size: 14px;
                padding-right: 2.5%;

                .submit {
                    border-radius: 5px;
                    width: 200px;
                    height: 40px;
                    color: #fff;
                    background: #008CBA;
                    padding: 10px 30px;
                    cursor: pointer;
                    border: outset;
                }
                .submit:active {
                    border-style: inset;
                    outline: none;
                }
            }
        }             
    }
}

.con_students.action_reset_success,
.con_students[class^="action_reset_success"],
.con_students[class*="action_reset_success"] {

    .success_section {
        
        .msg_header {
            padding-top: 10px;
            margin-bottom: 10px;
            
            .msg_success_head {
                font-size: 22px;
                font-weight: bold;
                margin-left: 2%;  
                display: inline-block;
            }
        }
        
        .msg_body {
            margin-bottom: 20px;
            
            .msg_success_body {
                font-size: 16px;
                display: inline-block;
                margin-left: 2%;                        
            }
        }
        
        .success_footer {
            width: 100%;
            display: inline-flex;
            
            .banner_web_link,
            .reset_return {
                font-size: 16px;
                margin: auto;                
                text-decoration: underline;
            }
        }        
    }
}

.con_students.action_reset_error,
.con_students[class^="action_reset_error"],
.con_students[class*="action_reset_error"] {

    .error_section {
        
        .msg_header {
            padding-top: 10px;
            margin-bottom: 10px;
            
            .msg_error_head {
                font-size: 22px;
                font-weight: bold;
                margin-left: 2%;  
                display: inline-block;
            }
        }
        
        .msg_body {
            margin-bottom: 20px;
            
            .msg_error_body {
                font-size: 16px;
                display: inline-block;
                margin-left: 2%;                        
            }
        }
        
        .error_footer {
            width: 100%;
            display: inline-flex;
            
            .return_to_input {
                font-size: 16px;
                margin: auto;                
                text-decoration: underline;
            }
        }        
    }
}

.ui-dialog {
    border: 1px solid #274279;
    box-shadow: 0px 5px 10px 5px #27427985;
    background: #f1f1f1;
    border-radius: 8px;
    top: 24% !important;
    padding: 0;
    
    .ui-dialog-titlebar {
        padding: .4em 1em;
        background-color: #e9c148;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid #222;        
    }
    
    .ui-dialog-titlebar-close {
        display: none;
    }
}

.ui-widget-overlay {
    opacity: .50 !important;
    filter: Alpha(Opacity=50) !important;
    background-color: rgb(50, 50, 50) !important;    
}